footer-copyright {
  position: absolute;
  /*bottom: auto;*/
}

.wrapper {
  height: auto;
  min-height: 100%;
  min-width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

