img {
  height:800px;
  width:100%;
  border-style:outset;
  border-width:7px;
}

div > p {
  font: Serif;
  font-size: 30px;
  font-style: oblique;
  font-weight: 10 ;
  color: blue;
  text-decoration: inherit;
}

footer td {
  border-style:inset;
  border-width:4px
}
