#rol {
  height:50%;
  width:30%;
  border-style:groove;
  border-width:10px;
}

#gaurdP {
  font: Georgia;
  font-size: 18px;
  font-style: italic;
  font-weight: bold ;
  color: darkgrey;
  text-decoration: underline;
}

div[class$="footer"] {
  color: red;
}

a[href] {
  border-style:dotted;
}

a:visited{
  color:lightgreen;
  background-color:black;
}
